.yui3-treeview ul {
	list-style: none;
    cursor:pointer ;
	padding-left: 18px;
    background: url(treeview-sprite.gif) 0 -4100px no-repeat; 
}
.yui3-treeview li {
	clear: both;
	overflow: hidden;
}
.yui3-treeview li .yui3-treenode-toggle {
	width:18px; height:22px; 
	float: left;
}
.yui3-treeview li .yui3-treenode-content {
	float: left;
}
.yui3-treeview li.yui3-flyweightmanager-collapsed .yui3-treenode-toggle {
    background: url(treeview-sprite.gif) 0 -6400px no-repeat; 

}
.yui3-treeview li.yui3-flyweightmanager-collapsed ul.yui3-flyweightmanager-children {
	display: none;
}
.yui3-treeview li .yui3-treenode-toggle {
    background: url(treeview-sprite.gif) 0 -4000px no-repeat; 
}